<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="QA interview Test Automation Test Suite">

	<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>


	<test name="QA Interview Test Cases">
		<classes>
			<class name="com.qainterview.testcases.HomePageTest"></class>
			<class name="com.qainterview.testcases.UsersPageTest"></class>
			<class name="com.qainterview.testcases.NewUserPageTest"></class>
		</classes>
	</test>
</suite>